<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="row mt-2 project d-flex justify-content-center">
  <div class="col-md-10 border border-dark bg-home rounded">
    <h2>
      <a class="text-decoration-none text-reset" href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Posted on {{format_date post.createdAt}}</p>
  </div>
</div>
{{/each}}