/* * {
    outline: 3px solid limegreen !important;
    background: rgba(0, 151, 0, 0.1) !important;
} */


* {
    font-family: 'Prompt', sans-serif
}

.bg-home {
    background-color: rgb(192, 192, 192);
}

.bg-comment {
    background-color: rgb(235, 233, 233)
}
